.widget {
  top: 80px;
  width: 100%;
  border: 1px solid rgb(230, 227, 227);
  flex-basis: 50%;
  // border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  // text-align: center;
  
  .color{
    background-color: rgb(115, 134, 173);
    width: 104%;
    margin-left: -9px;
    object-fit: cover !important;
    margin-top: -28px;
    z-index: 999;

    .headers{
      color: white;
      text-align: center;
      font-size: medium;
      padding: 10px;
    }
    

  }

//   .widget_top{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: -15px;
//     // border: 1px solid lightgray;
//     border-bottom: 0;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//     color: white;
//     padding-bottom: 10px;

//   }
//  .titles{
//   // background-color: rgb(49,49,204);
//   width: 100%;
//   color: #ccc;
//   width: 100%;
  
 
//  }
  
}
